@using System
@model Bidia.Models.BidiaModels.ItemModel

<div class="row">
	<div class="col-md-5">

		<img src="~/Pictures/@(ViewBag.pic)" height="240" width="180" />
	</div>
	<div class="col-md-7">

		<p style="line-height: 20px">
			<strong style="color: blue">@Model.Name</strong>
		</p>
		<table class="table table-striped">

			<tr>
				<td>
					<a>Description:</a>
				</td>
				<td>
					@Model.Name
				</td>
			</tr>
			<tr>
				<td>
					<a>Price:</a>
				</td>
				<td>
					@Math.Abs(Model.ItemPrice)
				</td>
			</tr>
			<tr>
				<td>
					<a>Available:</a>
				</td>
				<td>
					@if (Model.IsItemAvailable)
					{
						<a>Available in stock</a>
					}
					else
					{
						<a>Not available in stock</a>
					}
				</td>
			</tr>
			<tr>
				<td>
					<a>Delivery Time:</a>
				</td>
				<td>
					@Model.DeliveryTime
				</td>
			</tr>
		</table>

		<div class="well well-sm  pull-right">

			@Html.ActionLink("Details", "Details", new { id = Model.Id })
			@Html.ActionLink("Buy Now", "paypal_pay", new { amount = Model.ItemPrice, id = Model.Id })



		</div>
	</div>

</div>
