@using System
@using System.Linq
@using Bidia.Models.BidiaModels
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	@Styles.Render("~/Content/css")

	@Scripts.Render("~/bundles/modernizr")


</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #67C7E2;border-color: transparent;color: white">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("BIDIA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })
			</div>
			<div class="navbar-collapse collapse" style="color: #ffffff">
				<ul class="nav navbar-nav">
					@{
						var db = new BidiaDB();
						var x = db.ProductTypes.ToList();
						if (x.Any())
						{
							foreach (var a in x)
							{
								<li>
									<a href="@Url.Action("Index", "ItemModels", new { itemtype =a.Name})">@a.Name</a>
								</li>
							}
						}

					}
					@if (Request.IsAuthenticated)
					{
						<li>@Html.ActionLink("ProductTypes", "Index", "ProductTypes")</li>

					}
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>

	<div class="container body-content">
		@RenderBody()
	</div>
	<div class="container body-content">
		<div class="jumbotron">
			@RenderSection("row1", false)
		</div>
	</div>
	<footer class="container body-content" style="font-family: calibri; font-size: 20px;font-weight: 700;color: #67c7e2;text-decoration: none">
		<a href="https://www.facebook.com/bipudia" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
		<p>Bidia &copy; @DateTime.Now.Year </p>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>fon

<style>
	.navbar-inverse .navbar-nav > li > a {
		color: #ffffff;
		font-family: cambria;
		font-size: 20px;
	}

	.navbar-header {
		font-family: cambria;
	}

	.body-content {
		background-color: #E7F3F1;
	}
</style>
