@using System
@using System.Activities.Statements
@using Bidia.Models.BidiaModels
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color:chocolate">
	<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #4b0082">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("BIDIA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					@*@{
						var db = new BidiaDB();
						var x = db.ProductTypes.ToList();
						if (x.Any())
						{
							foreach (var a in x)
							{
								<li>@Html.ActionLink(a.Name, "Index", "ItemModels", new {itemtype = a.Name})</li>

							}
						}

					}*@
					@if (Request.IsAuthenticated)
					{
						<li>@Html.ActionLink("ProductTypes", "Index", "ProductTypes")</li>

					}
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>

	<div class="container body-content">
		@RenderBody()
	</div>
	<div class="container body-content">
		<div class="jumbotron">
			@RenderSection("row1", false)
		</div>
	</div>
	<footer class="container body-content">
		<p>Bidia &copy; @DateTime.Now.Year </p>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
